/*===========================
        CAROUSEL
============================*/

.item--base{
    overflow: hidden;
    max-height: 750px;
    background-color: map-get($map: $color, $key: light);
}

.item__img--base{
    width: 100%;

        @include media(map-get($breakpoints, lg)){
            transform: translateY(-10%);
        }
}

.carousel-title{
    position: absolute;
    bottom: 300px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: left;
    color: white;
    font-size: 120px;
    line-height: 100px;
}