/*===========================
        ICON
============================*/


.icon-arrow-66{
    color: map-get($map: $color, $key: white);
    font-size: 42px;
}

.icon-arrow-40{
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: center;
    margin-left: 10px;
    transition: transform 0.25s;
}

.icon-arrow-40--rotate{
    transform: rotate(0deg);
    transform-origin: center;
}

.icon-delete-1{
    @extend .btn-primary--base;
    @extend .btn--base;
    font-size: 26px;
    padding: 0px 5px 5px 0px;
}

.icon-bag{
    font-size: 72px;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}