/*===========================
        JUMBOTRON
============================*/

.jumbotron--alt{
    padding: 0px;
}

.jumbotron--base {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: map-get($map: $color, $key: dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0px -200px 300px 200px rgba(22,14,11,0.3);
    -moz-box-shadow: inset 0px -200px 300px 200px rgba(22,14,11,0.3);
    box-shadow: inset 0px -200px 300px 200px rgba(22,14,11,0.3);

    .jumbotron__title{
        font-family: $font-family-heading;
        z-index: 15;
        padding-left: 0;
        list-style: none;
        text-align: left;
        color: white;
        font-size: 120px;
        line-height: 100px;
        font-weight: bold;

        @include font-family--handwritten;

        font-size: 56px;
        font-weight: bolder;

            @include media(map-get($breakpoints, sm)){
                font-size: 72px;
                margin-top: 20px;

                @include media(map-get($breakpoints, md)){
                    font-size: 80px;
                    margin-top: 160px;

                    @include media(map-get($breakpoints, lg)){
                        font-size: 120px;
                        margin-top: 160px;
                        margin-bottom: 30px;
                    }
                }
            }

    }

    .jumbotron__title--small{
        position: relative;
        top: 45px;
            @include media(map-get($breakpoints, sm)){
                top: 30px;

                @include media(map-get($breakpoints, md)){
                    top: 20px;

                    @include media(map-get($breakpoints, lg)){
                        top: 0px;
                    }
                }
            }
    }
}