/*===========================
            LOGOs
============================*/

// main site logo

.site-logo{
    @include paddingCol--xs;
    padding-top: 15px;

        @include media(map-get($breakpoints, sm)){
            padding: 15px 0px 0px 0px;
        }

    a{
        text-decoration: none;
    }

    .logo__primary-text{
        @include colorTheme--contrast;
        font-family: $font-family-handwriting;
        font-size: 28px;
        padding: 15px;
        display: inline-block;    
        margin-bottom: 0px;
    }
    .logo__secondary-text{
        margin-top: 5px;
        margin-left: 5px;
        display: inline;
        
    }

}

