/*===========================
        BUY-COFFEE
============================
@extends*/

//============================

#buyCoffee{
    @include backgroundGradient--body;

    .badge{
        background: none;
        color: map-get($map: $color, $key: dark);
        font-size: 14px;
        font-weight: normal;
    }

    .cartItem__quantity{
        display: inline-block;
        font-size: 12px;
    }

    .cartItem__price--move{
        right: 50px;
    }

    .list-group-item{
        outline: none;

        &:hover, &:focus{
            background: transparent;
        }
    }
}

.shop-container{

    .shop-wrapper{}

    .wrapper__nav{
        @include colorTheme--invert;
        @include font-family--base;
        min-height: initial;
        padding: 0px;
        margin: 30px 30px;

            @include media(map-get($breakpoints, md)){
                min-height: 620px;
                margin: 0px;
            }

        a{
            @include colorTheme--invert;
            display: block;
            padding: 15px 10px;
            text-decoration: none;

            &:hover{
                background-color: $bgColorDarkLighter--hover;
            }
        }

        .active a{
            @include colorTheme--invert-white;
                @include media(map-get($breakpoints, md)){
                    border-left: 1px solid map-get($map: $color, $key: base);
                }
        }
    }

    .wrapper__nav__title{
        text-transform: uppercase;
        span{
            margin-left: 15px;
        }

    }

    .wrapper__nav__list{}

    .wrapper__nav__list-item{
        a{
            background-color: $bgColorDarkLighter;
            padding: 15px;

        }
    }

    .wrapper__shop-section{
        @include font-family--base;
        min-height: initial;
        background: transparent;
        margin: 30px 30px;
        padding: 30px 0px;

            @include media(map-get($breakpoints, md)){
                @include backgroundGradient--body;
                padding: 30px;
                margin: 0px;
                border-top: $border--base;
                min-height: 580px;
            }
    }

    .shop-section__title{
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: $border--base;
    }

    .shop-section__content{}

    .tab__section{}

    .tab__title{
        text-transform: capitalize;
        font-weight: bold;
    }

    .tab__description{
        color: map-get($map: $color, $key: base);
    }

    .tab__list{}

    .tab__list-item__name{
        background: transparent;
        text-transform: capitalize;
        border: none;
        border-bottom: $border--base;
        border-radius: 0px;
        padding: 20px 15px;
        margin: 0px 15px;
    }

    .wrapper__shopping-cart{
        @include font-family--base;
        min-height: 620px;
        border: $border--base;
        padding: 0px;
        margin: 30px 30px;
        background: transparent;

            @include media(map-get($breakpoints, md)){
                @include backgroundGradient--body;
                margin: 0px;
            }
    }

    .div__my-order{
        border-bottom: $border--base;
        padding: 10px 0px;
    }

    .my-order__title{
        @include colorTheme--invert-white;
        background: transparent;
        border: none;
    }

    .div__subtotal{
        border-bottom: $border--base;
    }

    .subtotal__inner-el{
        position: relative;
        margin: 15px 15px;
        min-height: 180px;
        overflow: hidden;

        .subtotal__inner-el__text{
            opacity: 0.2;
            text-align: center;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }

        .cartItem__name{
            text-align: center;
            display: inline-block;
            text-transform: capitalize;
        }

        .cartItem__btns{
            position: absolute;
            right: 0px;
            display: inline-block;
            transition: right 0.5s;

                @include media(map-get($breakpoints, md)){
                    right: -65px;
                }
        }

        .cartItem__price{
            position: absolute;
            right: 60px;
            display: inline-block;
            transition: right 0.5s;

                @include media(map-get($breakpoints, md)){
                    right: 0px;
                }
        }

        .cartItem__btns--move{
            right: 0px;
        }


    }

    .cartItem{
        padding: 5px 0px 10px 0px;
    }

    .cartItem__btn{
        background: transparent;
        color: map-get($map: $color, $key: base);
        border: none;
        border-radius: 50%;
        padding: 4px 6px;
        font-size: 10px;
        height: 20px;
        outline: none;
        transition: color 0.2s;

        &:hover{
            color: map-get($map: $color, $key: dark);
        }
    }

    .subtotal__title{
        @include colorTheme--invert-white;
        background: transparent;
        border: none;
        border-top: 2px solid map-get($map: $color, $key: dark);
        margin: 0px 15px;
        padding: 20px 0px;
    }

    .div__place-order{
        padding: 15px;
        padding-top: 0px;

        p{
            text-transform: capitalize;
            padding-top: 15px;
        }
    }

    .place-order__specialReq{
        border-bottom: $border--base;
        padding-bottom: 15px;

        span{
            margin-right: 15px;
        }
    }

    .btn__order-now{
        margin: 60px 0px 15px 0px;
    }

}
