/*===========================
          Our Shop
============================*/

#ourShops{
    @include backgroundGradient--body;
}

.our-shops-content{
    @include font-family--base;
    @include font-color--all(map-get($color, dark));
    padding: 60px 0px 180px 0px;

    h3{
        font-weight: bold;
        font-size: 36px;
    }

    h4{
        font-weight: bold;
        font-size: 24px;
        margin-top: 30px;
    }

    p{
        font-size: 16px;
        line-height: 2;
    }

}