
/*===========================
           VARIABLES

=========   Contents   =======

    1,   + COLORS 

    2,   + FONT-FAMILIES

    3,    
             
    4,   

===============================*/


// + COLORS 

$color :(
    white: #F4F8FF,
    light: #E2CFB7,
    base: #937966,
    contrast: #C41D44,
    dark: #1C0305,
    black: #000000,
);

// + FONT-FAMILIES

$font-family-heading: 'Sumana', serif;
$font-family-base: 'Open Sans', sans-serif;
$font-family-handwriting: 'Pacifico', cursive;

